<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>als-records</h1>
      </div>
      <div id="contents">
        <div id="c1" class="content">
          <div class="pic">
            <img src="./pic/aaa.jpg" alt="aaa" />
          </div>
          <div class="text">
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
        <div id="c2" class="content">
          <div class="pic">
            <img src="./pic/bbb.jpg" alt="bbb" />
          </div>
          <div class="text">
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
        <div id="c3" class="content">
          <div class="pic">
            <img src="./pic/ccc.jpg" alt="ccc" />
          </div>
          <div class="text">
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
        <div id="c4" class="content">
          <div class="pic">
            <img src="./pic/ddd.jpg" alt="ddd" />
          </div>
          <div class="text">
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <h1>By alonescar</h1>
      </div>
    </div>
    <script src="marked.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
