<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/node_modules/github-markdown-css/github-markdown.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/adminEdit-page/diary/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="others">
        <div class="operation"><button onclick="commit()">Commit</button></div>
        <div class="attribute">
          <input type="text" placeholder="picUrl" />
          <input type="text" placeholder="Type" />
          <input type="text" placeholder="Belong" />
          <input type="text" placeholder="Emotion" />
          <input type="text" placeholder="Weather" />
          <input type="text" placeholder="By" />
        </div>
      </div>
      <div class="text">
        <textarea class="input"></textarea>
        <div class="markdown-body"></div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='/node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/node_modules/marked/marked.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/adminEdit-page/diary/index.js') }}"></script>
</html>
