<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/node_modules/github-markdown-css/github-markdown.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/adminEdit-page/diary/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <textarea id="input"></textarea>
      <div class="markdown-body"></div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/node_modules/marked/marked.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/adminEdit-page/diary/index.js') }}"></script>
</html>
