<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/home-page/style.css') }}"
    />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>als-records</h1>
      </div>
      <div id="contents">
        <div class="content_note" id="n1">
          <div class="pic">
            <img src="./pic/ccc.jpg" alt="ccc" />
          </div>
          <div class="text">
            <div class="title">
              <h2>Welcome to my records</h2>
            </div>
            <div class="attribute">
              <span>Type: Note</span>
              <span>Time: 2022-08-11 15:47:51</span>
              <span>Belong: /aaa/bbb/ccc</span>
              <span>By: AloneScar</span>
            </div>
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
        <div class="content_note" id="n2">
          <div class="pic">
            <img src="./pic/ddd.jpg" alt="ddd" />
          </div>
          <div class="text">
            <div class="title">
              <h2>Welcome to my records</h2>
            </div>
            <div class="attribute">
              <span>Type: Note</span>
              <span>Time: 20202032323</span>
              <span>Belong: /aaa/bbb/ccc</span>
              <span>By: AloneScar</span>
            </div>
            <div class="shortText"></div>
            <div class="btns">
              <button>Read More</button>
            </div>
          </div>
        </div>
        <div class="content_diary" id="d1">
          <div class="pic">
            <img
              src="https://als504131-1258573482.cos.ap-guangzhou.myqcloud.com/d35de24d453b1a5986aaf21b1d1f7bd.jpg"
              alt="ddd"
            />
          </div>
          <div class="text">
            <div class="title">
              <h2>2022-08-03 15:31:33</h2>
            </div>
            <div class="attribute">
              <span>Type: Diary</span>
              <span>Belong: Keep</span>
              <span>Emotion: Happy</span>
              <span>Weather: Sunny</span>
              <span>By: AloneScar</span>
            </div>
            <div class="shortText"></div>
            <div class="btns"><button>Read More</button></div>
          </div>
        </div>
        <div class="content_diary" id="d2">
          <div class="pic">
            <img
              src="https://als504131-1258573482.cos.ap-guangzhou.myqcloud.com/5ee8ab67a6e2b2df60fc487668f1d3e.jpg"
              alt="fff"
            />
          </div>
          <div class="text">
            <div class="title">
              <h2>2022-08-03 15:31:33</h2>
            </div>
            <div class="attribute">
              <span>Type: Diary</span>
              <span>Belong: Keep</span>
              <span>Emotion: Happy</span>
              <span>Weather: Sunny</span>
              <span>By: AloneScar</span>
            </div>
            <div class="shortText"></div>
            <div class="btns"><button>Read More</button></div>
          </div>
        </div>
        <div class="content_link" id="l1">
          <div class="title">
            <img src="https://zhuanlan.zhihu.com/favicon.ico" alt="" />
            <h3>
              <a
                target="_blank"
                href="https://blog.csdn.net/qq_45770511/article/details/107244067"
                >获取网站图标篇</a
              >
            </h3>
          </div>
          <div class="attribute">
            <span>Type: Link</span>
            <span>Belong: /p/a/c</span>
            <span>Time: 2022-08-03 16:34:25</span>
          </div>
          <div class="url">
            <a
              target="_blank"
              href="https://blog.csdn.net/qq_45770511/article/details/107244067"
              >https://blog.csdn.net/qq_45770511/article/details/107244067</a
            >
            <button
              onclick="copyUrl(`https://blog.csdn.net/qq_45770511/article/details/107244067`)"
            >
              Copy
            </button>
          </div>
        </div>
        <div class="content_link" id="l2">
          <div class="title">
            <img src="https://blog.csdn.net/favicon.ico" alt="" />
            <h3>
              <a
                target="_blank"
                href="https://blog.csdn.net/qq_45770511/article/details/107244067"
                >如何获取网站的icon</a
              >
            </h3>
          </div>
          <div class="attribute">
            <span>Type: Link</span>
            <span>Belong: /p/a/c</span>
            <span>Time: 2022-08-03 16:34:25</span>
          </div>
          <div class="url">
            <a
              target="_blank"
              href="https://blog.csdn.net/qq_45770511/article/details/107244067"
              >https://blog.csdn.net/qq_45770511/article/details/107244067</a
            >
            <button
              onclick="copyUrl(`https://blog.csdn.net/qq_45770511/article/details/107244067`)"
            >
              Copy
            </button>
          </div>
        </div>
        <div class="content_idea" id="i1">
          <div class="time"><h3>2022-08-04 23:56:29</h3></div>
          <div class="text"></div>
        </div>
        <div class="content_idea" id="i2">
          <div class="time"><h3>2022-08-04 23:56:32</h3></div>
          <div class="text"></div>
        </div>
      </div>
      <div id="footer">
        <h1>By alonescar</h1>
      </div>
    </div>
    <script src="{{ url_for('static', filename='/node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/home-page/index.js') }}"></script>
  </body>
</html>
